<div class="search-input">
    <form class="form-inline" [formGroup]="searchForm">
        <input class="form-control" type="search" placeholder="Search" formControlName="search">
    </form>
    <div class="buttons">
        <button class="icon-button" (click)="search()">Search</button>
        <button class="icon-button" (click)="switchSearchInPosts()">Search in {{ showPosts ? 'comments' : 'posts'}}</button>
    </div>
</div>

<div class="post-list" *ngIf="showPosts && posts">
    <div class="post" *ngFor="let post of posts.content">
        {{post.content}}
    </div>
</div>
<div class="comment-list" *ngIf="!showPosts && comments">
    <div class="comment" *ngFor="let comment of comments.content">
        {{comment.content}}
    </div>
</div>