.message-container {
    border: #ecf1f5 solid 1px;
    border-radius: 14px;

    display: flex;
    flex-direction: column;
    padding: 10px 0;
    padding-bottom: 0;
    background-color: #f6f8fa;
    margin-bottom: 10px;
}

.form-container {
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

.content {
    border: none;
    background-color: #f6f8fa;
    color: #b1b9c4;
    width: 100%;
}

.message-form {
    flex-grow: 1;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin: 0;
}

.send-button {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #bbd4f6;
    color: white;
}
