<div class="quick-post-container">
    <div class="quick-post">
        <app-avatar [gender]="userService.gender" [url]="userService.avatarUrl"></app-avatar>
        <form class="quick-post-form" id="form" [formGroup]="form">
            <input class="quick-post-input" placeholder="Write post" formControlName="content"/>
        </form>
        <div class="post-options">
            <button class="option-button"><fa-icon [icon]="faAttach"></fa-icon></button>
            <button class="option-button"><fa-icon [icon]="faSmile"></fa-icon></button>
            <button class="send-button" (click)="buttonAction()"><fa-icon [icon]="faSend"></fa-icon></button>
        </div>
    </div>
</div>
