<div class="menu-container">
    <div class="menu-logo">
        <span class="m-letter">M</span>
    </div>
    <div class="menu-nav">
        <ul>
            <li class="active" (click)="toMain()">Main</li>
            <li>Hot</li>
            <li>My Microblog</li>
        </ul>
    </div>
    <div class="menu-actions">
        <button class="add-button">Add post</button>
        <div class="user-options">
            <button class="icon-button"><fa-icon [icon]="faSearch"></fa-icon></button>
            <button class="icon-button button-with-counter" (click)="toMentions()">
                <fa-icon [icon]="faNotif"></fa-icon>
                <div class="counter" *ngIf="mentionsCount>0"> {{ mentionsCount }}</div>
            </button>
            <button class="icon-button button-with-counter" (click)="toMessages()">
                <fa-icon [icon]="faMessage"></fa-icon>
                <div class="counter" *ngIf="messagesCount>0"> {{ messagesCount }}</div>
            </button>
            <app-avatar></app-avatar>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
