<div class="menu-container">
    <div class="menu-logo">
        <span class="m-letter">M</span>
    </div>
    <div class="menu-nav">
        <ul>
            <li class="active" (click)="toMain()">Main</li>
            <li>Hot</li>
            <li (click)="toMyMicro()">My Microblog</li>
        </ul>
    </div>
    <div class="menu-actions">
        <div *ngIf="!logged"></div>
        <button class="add-button" *ngIf="!logged" (click)="toLogin()">Login</button>
        <button class="add-button" *ngIf="logged">Add post</button>
        <div class="user-options" *ngIf="logged">
            <form class="form-inline" [formGroup]="searchForm" *ngIf="showSearch">
                <input class="form-control" type="search" placeholder="Search" formControlName="search">
            </form>
            <button class="icon-button" (click)="search()"><fa-icon [icon]="faSearch"></fa-icon></button>
            <button class="icon-button button-with-counter" (click)="toMentions()">
                <fa-icon [icon]="faNotif"></fa-icon>
                <div class="counter" *ngIf="userService.mentionCount>0"> {{ userService.mentionCount }}</div>
            </button>
            <button class="icon-button button-with-counter" (click)="toMessages()">
                <fa-icon [icon]="faMessage"></fa-icon>
                <div class="counter" *ngIf="userService.messageCount>0"> {{ userService.messageCount }}</div>
            </button>
            <app-avatar></app-avatar>
        </div>
    </div>
</div>

<app-main-container></app-main-container>
