.post-container {
    border: #ecf1f5 solid 1px;
    border-radius: 14px;

    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.author-bar {
    display: flex;
    font-size: 14px;
    color: #cdd2d9;
    margin: 0 15px;
}

.author-name {
    color: #56bf83;
    font-weight: 600;
    margin-right: 7px;
}

.option-bar {
    margin: 0 15px;
}

.post-content {
    margin: 0 15px;
}

.quick-response {
    background-color: #f6f8fa;
    padding: 0 15px;
}