.post-container {
    border: #ecf1f5 solid 1px;
    border-radius: 14px;

    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.author-bar {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #cdd2d9;
    margin: 0 15px;
    margin-bottom: 7px;
}

.avatar {
    margin-right: 5px;
    border: currentColor solid 2px;
    border-radius: 17px;
    padding: 0;
    width: 21px;
    height: 21px;
}

.avatar-img {
    width: 17px;
    height: 17px;
    border-radius: 17px;
    border: #f6f8fa solid 2px;
    margin: 0;
}

.author-name {
    color: #56bf83;
    font-weight: 600;
    margin-right: 7px;
}

.post-content {
    margin: 0 15px;
}

.quick-response {
    display: flex;
    align-items: center;
    background-color: #f6f8fa;
    padding: 10px 15px;
}

.quick-response .avatar {
    opacity: 0.4;
}

.quick-response-input {
    border: none;
    background-color: #f6f8fa;
    color: gray;
    flex-grow: 1;
}

.option-bar {
    display: flex;
    margin: 5px 15px;
}

.likes {
    display: flex;
    color: rgb(46, 139, 46);
    font-weight: 600;
    border: rgb(46, 139, 46) solid 1px;
    border-radius: 7px;
}

.like-counter {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: rgb(46, 139, 46) solid 1px;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin: 0;
}

.plus-button {
    color: rgb(46, 139, 46);
    font-weight: 600;
}