<div class="post-container" *ngIf="post" [class.sidebar-container]="sidebar">
    <div class="author-bar">
        <app-avatar [gender]="post.user.gender" [url]="post.user.avatarUrl"></app-avatar>
        <div class="author-name" (click)="toUser(post.user.username)">{{post.user.username}}</div>
        <div class="confirmed-user" *ngIf="post.user.confirmed"><fa-icon [icon]="faCheck" size="xs"></fa-icon></div>
        <div class="post-date">posted at {{post.createdAt | date: 'yyyy MMM dd HH:mm'}}</div>
        <div class="edited" *ngIf="post.edited">edited</div>
    </div>

    <div markdown class="post-content">{{post.content | tagify}}</div>

    <div class="attachment" *ngIf="post.attachmentUrl">
        <img class="attachment-img" [src]="getAttachmentUrl"/>
    </div>

    <div class="option-bar" *ngIf="!sidebar">
        <app-like-button [count]="post.likeCount" [liked]="like" (plus)="plus($event)"></app-like-button>
        <div class="options">
            <button class="option-button" (click)="fav()"><fa-icon [icon]="faStar" [class.fav]="inFav"></fa-icon></button>
            <button class="option-button" *ngIf="author" (click)="askForDelete()"><fa-icon [icon]="faDelete"></fa-icon></button>
            <button class="option-button" *ngIf="author" (click)="edit()"><fa-icon [icon]="faEdit"></fa-icon></button>
            <button class="option-button" (click)="openReportDialog()"><fa-icon [icon]="faReport"></fa-icon></button>
        </div>
    </div>

    <app-report-form *ngIf="showReportDialog" [id]="post.id" (close)="closeReportDialog()"></app-report-form>

    <div class="quick-response" *ngIf="!sidebar">
        <app-avatar [gender]="userService.gender" [url]="userService.avatarUrl"></app-avatar>

        <form class="quick-response-form" id="form" [formGroup]="quickReply">
            <input #responseInput class="quick-response-input" placeholder="Write response to {{post.user.username}}" formControlName="content"/>
        </form>

        <div class="response-options">
            <button class="option-button" (click)="switchAttachmentDialog()"><fa-icon [icon]="faAttach"></fa-icon></button>
            <button class="option-button" (click)="switchEmojiDialog()"><fa-icon [icon]="faSmile"></fa-icon></button>
            <button class="send-button" (click)="reply()" [class.disabled-button]="quickReply.invalid"><fa-icon [icon]="faSend"></fa-icon></button>
        </div>
    </div>
    <app-emoji-choice *ngIf="showEmojiDialog" (emoji)="addEmoji($event)"></app-emoji-choice>
    <app-attachment-choice *ngIf="showAttachmentDialog" (attachment)="addAttachment($event)"></app-attachment-choice>
    

    <button class="more-comments" *ngIf="!minimal && !sidebar && comments && !comments.last" (click)="nextPage()">
        Load more comments
    </button>

    <app-general-comment-list [comments]="comments" [postAuthor]="author" *ngIf="comments"></app-general-comment-list>

    <button class="more-comments" *ngIf="minimal || sidebar" (click)="toPost(post.id)">
        {{ moreComments }}
    </button>
</div>


<app-modal-delete *ngIf="showDeleteModal" text="post" (deleteEvent)="delete()" (closeEvent)="closeDeleteModal()"></app-modal-delete>
