<div class="mentions-container">
    <div class="options">
        <button class="read-all-button" (click)="readAll()">
            Mark all as read
        </button>
    </div>
    <div class="mention-list-container">
        <div class="mention" *ngFor="let mention of mentions" [class.unread]="!mention.read">
            User {{ mention.author.username }} mentioned you in 
            <ng-container *ngIf="mention.comment">
                comment to
            </ng-container>
            <button (click)="toMention(mention)">post</button>
        </div>
    </div>        
</div>
