.unread {
    font-weight: 600;
}

app-avatar {
    display: inline-block;
}

.username {
    color: #56bf83;
    font-weight: 600;
    cursor: pointer;
}

a {
    cursor: pointer;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin: 0;
}

.read-all-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #dbe6fe;
    color: #437ef8;
    padding: 7px 15px;
    font-weight: 600;
}
