<div class="comment-container" *ngIf="comment" [class.deleted]="comment.comment.deletedByUser || comment.comment.deletedByPostAuthor">
    <div class="author-bar">
        <app-avatar [gender]="comment.comment.user.gender"></app-avatar>
        <div class="author-name" (click)="toUser(comment.comment.user.username)">{{comment.comment.user.username}}</div>
        <div class="confirmed-user"><fa-icon [icon]="faCheck" size="xs"></fa-icon></div>
        <div class="post-date">commented at {{comment.comment.createdAt | date: 'yyyy MMM dd HH:mm'}}</div>
        <div class="edited" *ngIf="comment.comment.edited">edited</div>
        <div class="left-options">
            <app-like-button [count]="comment.comment.likeCount" [liked]="comment.liked" (plus)="plus($event)"></app-like-button>
        </div>
    </div>

    <div class="comment-content">{{comment.comment.content}}</div>

    <div class="option-bar">
        <button class="reply-button"><fa-icon [icon]="faReply"></fa-icon> Reply</button>
        <button class="option-button" *ngIf="author && !comment.comment.deletedByUser && !comment.comment.deletedByPostAuthor" (click)="askForDelete()"><fa-icon [icon]="faDelete"></fa-icon></button>
        <button class="option-button" *ngIf="author && !comment.comment.deletedByUser && !comment.comment.deletedByPostAuthor" (click)="edit()"><fa-icon [icon]="faEdit"></fa-icon></button>
    </div>
</div>

<app-modal-delete *ngIf="showDeleteModal" text="comment" (deleteEvent)="delete()" (closeEvent)="closeDeleteModal()"></app-modal-delete>
