.comment-container {
    margin: 7px 0;
}

.author-bar {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #cdd2d9;
    margin: 0 15px;
    margin-bottom: 7px;
}

.confirmed-user {
    margin-right: 3px;
}

.author-name {
    color: #56bf83;
    font-weight: 600;
    margin-right: 7px;
    cursor: pointer;
}

.comment-content {
    margin: 0 15px;
    margin-left: 44px;
}

.left-options {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin: 0;
}

.option-bar {
    margin: 0 15px;
    margin-left: 44px;
    margin-top: 5px;
}

.reply-button {
    font-size: 14px;
    color: #cdd2d9;
}

.deleted {
    opacity: 0.7;
}

.deleted .comment-content {
    color: #cdd2d9;
}

.option-button {
    color: #a1aab7;
}
