<div class="form-container">

    <form id="form" [formGroup]="form">
        <label for="username">Username</label>
        <div class="field">
            <input class="username" formControlName="username" />
        </div>

        <label for="password">Password</label>
        <div class="field">
            <input class="password" formControlName="password" type="password" />
        </div>

        <label for="passwordRe">Repeat password</label>
        <div class="field">
            <input class="passwordRe" formControlName="passwordRe" type="password" />
        </div>
    </form>

    <button class="btn" [class.blocked]="!form.valid" (click)="register()">Register</button>
</div>