<div class="post-container sidebar-container" *ngIf="comment">
    <div class="author-bar">
        <app-avatar [gender]="comment.user.gender" [url]="comment.user.avatarUrl"></app-avatar>
        <div class="author-name" (click)="toUser(comment.user.username)">{{comment.user.username}}</div>
        <div class="post-date">commented at {{comment.createdAt | date: 'yyyy MMM dd HH:mm'}}</div>
        <div class="edited" *ngIf="comment.edited">edited</div>
    </div>

    <div markdown class="post-content">{{comment.content | tagify}}</div>

    <div class="attachment" *ngIf="comment.attachmentUrl">
        <img class="attachment-img" [src]="getAttachmentUrl"/>
    </div>

    <button class="more-comments" (click)="toComment(comment.post.id, comment.id)">
        More
    </button>
</div>
