.author-bar {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #cdd2d9;
    margin: 0 15px;
    margin-bottom: 7px;
}

.author-name {
    color: #56bf83;
    font-weight: 600;
    margin-right: 7px;
    cursor: pointer;
}

.message {
    border: #ecf1f5 solid 1px;
    border-radius: 14px;

    display: flex;
    flex-direction: column;
    padding: 10px 0;
    padding-bottom: 0;
    margin-bottom: 10px;
}


.message-content {
    margin: 0 15px;
}
